
-- =============================================================================
-- ENSURE YOU ARE IN THE CORRECT DATABASE!!!!!!!
-- =============================================================================

SET NOCOUNT ON;
GO




-- =============================================================================
-- Create the Cruises Table
-- =============================================================================




/****** Object:  Table [dbo].[Cruises]    Script Date: 11/10/2013 18:15:40 ******/
IF OBJECT_ID('dbo.Cruises') IS NOT NULL
  BEGIN
    PRINT 'Dropping the old dbo.Cruises...';
    IF OBJECT_ID('FK_Positions_Cruises') IS NOT NULL
      BEGIN
        PRINT 'Dropping FK_Positions_Cruises...';
        ALTER TABLE Positions DROP CONSTRAINT FK_Positions_Cruises;
      END
    DROP TABLE dbo.Cruises;
  END
GO
PRINT 'Creating dbo.Cruises...';
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cruises](
	[CruiseID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY CLUSTERED,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [ntext] NOT NULL,
	[StartDate] [smalldatetime] NOT NULL,
	[EndDate] [smalldatetime] NULL,
	[CurrentTrip] [bit] NOT NULL
)
GO
SET IDENTITY_INSERT [dbo].[Cruises] ON
INSERT [dbo].[Cruises] ([CruiseID], [Name], [Description], [StartDate], [EndDate], [CurrentTrip]) VALUES (1, N'Bahamas Cruise #1', N'Bahamas Cruise #1', CAST(0x9B550000 AS SmallDateTime), CAST(0x9C150000 AS SmallDateTime), 0)
INSERT [dbo].[Cruises] ([CruiseID], [Name], [Description], [StartDate], [EndDate], [CurrentTrip]) VALUES (2, N'Bahamas Cruise #2', N'Bahamas Cruise #2', CAST(0x9CB00000 AS SmallDateTime), CAST(0x9D710000 AS SmallDateTime), 0)
INSERT [dbo].[Cruises] ([CruiseID], [Name], [Description], [StartDate], [EndDate], [CurrentTrip]) VALUES (3, N'Bahamas Cruise #3', N'Bahamas Cruise #3', CAST(0x9F8D0000 AS SmallDateTime), CAST(0xA04B0000 AS SmallDateTime), 0)
SET IDENTITY_INSERT [dbo].[Cruises] OFF
GO
-- =============================================================================
-- Create the Places Table
-- =============================================================================


/****** Object:  Table [dbo].[Places]    Script Date: 11/10/2013 18:15:40 ******/
IF OBJECT_ID('dbo.Places') IS NOT NULL
  BEGIN
    PRINT 'Dropping the old dbo.Places...';
    IF OBJECT_ID('FK_Positions_Places') IS NOT NULL
      BEGIN
        PRINT 'Dropping FK_Positions_Places...';
        ALTER TABLE Positions DROP CONSTRAINT FK_Positions_Places;
      END
    DROP TABLE dbo.Places;
  END
GO
PRINT 'Creating dbo.Places...';
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Places](
	[PlaceID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY CLUSTERED,
	[CountryCode] [nvarchar](20) NOT NULL,
	[CountryName] [nvarchar](256) NOT NULL,
	[AdminCode] [nvarchar](20) NOT NULL,
	[AdminName] [nvarchar](256) NOT NULL
)
GO
SET IDENTITY_INSERT [dbo].[Places] ON
INSERT [dbo].[Places] ([PlaceID], [CountryCode], [CountryName], [AdminCode], [AdminName]) VALUES (1, N'US', N'United States', N'NC', N'North Carolina')
INSERT [dbo].[Places] ([PlaceID], [CountryCode], [CountryName], [AdminCode], [AdminName]) VALUES (2, N'US', N'United States', N'VA', N'Virginia')
INSERT [dbo].[Places] ([PlaceID], [CountryCode], [CountryName], [AdminCode], [AdminName]) VALUES (3, N'UNKNOWN', N'UNKNOWN', N'UNKNOWN', N'UNKNOWN')
SET IDENTITY_INSERT [dbo].[Places] OFF
GO




-- =============================================================================
-- Create the TimeZones Table
-- =============================================================================




/****** Object:  Table [dbo].[TimeZones]    Script Date: 11/10/2013 18:15:40 ******/
IF OBJECT_ID('dbo.TimeZones') IS NOT NULL
  BEGIN
    PRINT 'Dropping the old dbo.TimeZones...';
    IF OBJECT_ID('FK_Positions_TimeZones') IS NOT NULL
      BEGIN
        PRINT 'Dropping FK_Positions_TimeZones...';
        ALTER TABLE Positions DROP CONSTRAINT FK_Positions_TimeZones;
      END
    DROP TABLE dbo.TimeZones;
  END
GO
PRINT 'Creating dbo.TimeZones...';
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeZones](
	[TimeZoneID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY CLUSTERED,
	[TimeZoneName] [nvarchar](256) NOT NULL,
	[GMTOffset] [decimal](6, 2) NOT NULL,
	[DSTOffset] [decimal](6, 2) NOT NULL
)
GO
SET IDENTITY_INSERT [dbo].[TimeZones] ON
INSERT [dbo].[TimeZones] ([TimeZoneID], [TimeZoneName], [GMTOffset], [DSTOffset]) VALUES (1, N'America/New_York', CAST(-5.00 AS Decimal(6, 2)), CAST(-4.00 AS Decimal(6, 2)))
INSERT [dbo].[TimeZones] ([TimeZoneID], [TimeZoneName], [GMTOffset], [DSTOffset]) VALUES (2, N'UNKNOWN', CAST(0.00 AS Decimal(6, 2)), CAST(0.00 AS Decimal(6, 2)))
INSERT [dbo].[TimeZones] ([TimeZoneID], [TimeZoneName], [GMTOffset], [DSTOffset]) VALUES (3, N'', CAST(0.00 AS Decimal(6, 2)), CAST(0.00 AS Decimal(6, 2)))
SET IDENTITY_INSERT [dbo].[TimeZones] OFF
GO




-- =============================================================================
-- Create the Positions Table
-- =============================================================================




/****** Object:  Table [dbo].[Positions]    Script Date: 11/10/2013 18:15:40 ******/
IF OBJECT_ID('dbo.Positions') IS NOT NULL
  BEGIN
    PRINT 'Dropping the old dbo.Positions...';
    DROP TABLE dbo.Positions;
  END
  PRINT 'Creating dbo.Positions...';
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Positions](
	[PositionID] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY CLUSTERED,
	[ReportedAt] [datetime] NOT NULL,
	[Latitude] [real] NULL,
	[Longitude] [real] NULL,
	[DistanceFromLast] [real] NOT NULL,
	[CruiseID] [int] NOT NULL,
	[PlaceID] [int] NULL,
	[TimeZoneID] [int] NULL
)
GO
/****** Object:  Table [dbo].[Positions]    Script Date: 11/10/2013 21:30:51 ******/
SET IDENTITY_INSERT [dbo].[Positions] ON
INSERT [dbo].[Positions] ([PositionID], [ReportedAt], [Latitude], [Longitude], [DistanceFromLast], [CruiseID], [PlaceID], [TimeZoneID]) VALUES (1, CAST(0x00009B5001788E70 AS DateTime), 35.06615, -76.96885, 0.0360050239, 1, 9, 3)
INSERT [dbo].[Positions] ([PositionID], [ReportedAt], [Latitude], [Longitude], [DistanceFromLast], [CruiseID], [PlaceID], [TimeZoneID]) VALUES (2, CAST(0x00009B5301796160 AS DateTime), 35.0661163, -76.96875, 0.005123548, 1, 1, 1)
INSERT [dbo].[Positions] ([PositionID], [ReportedAt], [Latitude], [Longitude], [DistanceFromLast], [CruiseID], [PlaceID], [TimeZoneID]) VALUES (3, CAST(0x00009B55011CD210 AS DateTime), 35.066, -76.96875, 0, 1, 1, 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
SET IDENTITY_INSERT [dbo].[Positions] OFF
GO




-- =============================================================================
-- Add Constraints
-- =============================================================================




ALTER TABLE dbo.Positions
ADD CONSTRAINT FK_Positions_Cruises
FOREIGN KEY (CruiseID)
REFERENCES dbo.Cruises(CruiseID);
GO
ALTER TABLE dbo.Positions
ADD CONSTRAINT FK_Positions_Places
FOREIGN KEY (PlaceID)
REFERENCES dbo.Places(PlaceID);
GO
ALTER TABLE dbo.Positions
ADD CONSTRAINT FK_Positions_TimeZones
FOREIGN KEY (TimeZoneID)
REFERENCES dbo.TimeZones(TimeZoneID);
GO
SET NOCOUNT OFF;
GO




-- =============================================================================
-- Create the PositionDetails View
-- =============================================================================




IF OBJECT_ID('dbo.PositionDetails','V') IS NOT NULL
  BEGIN
    PRINT 'Dropping the old PositionsDetails View...';
	DROP VIEW dbo.PositionDetails;
  END
GO
PRINT 'Creating the dbo.PositionDetails View...';
GO
CREATE VIEW dbo.PositionDetails
AS
SELECT
   p.PositionID
  ,p.ReportedAt
  ,p.Latitude
  ,p.Longitude
  ,p.CruiseID
  ,c.Name as CruiseName
  ,c.Description as CruiseDescription
  ,c.CurrentTrip as IsCurrentCruise
  ,p.PlaceID
  ,pl.AdminName as Region
  ,pl.CountryName as Country
  ,p.TimeZoneID
  ,t.GMTOffset
  ,t.DSTOffset
FROM Positions as p
JOIN Cruises as c
ON p.CruiseID = c.CruiseID 
JOIN Places as pl
ON p.PlaceID = pl.PlaceID
JOIN TimeZones as t
ON p.TimeZoneID = t.TimeZoneID;
GO
SELECT * FROM dbo.PositionDetails;



-- =============================================================================
-- Create the GetCruiseDetailsProc Procedure
-- =============================================================================




IF OBJECT_ID('dbo.GetCruiseDetailsProc','P') IS NOT NULL
  BEGIN
    PRINT 'Dropping the old GetCruiseDetailsProc Procedure...';
	DROP PROCEDURE dbo.GetCruiseDetailsProc;
  END
GO
PRINT 'Creating the dbo.GetCruiseDetailsProc Procedure...';
GO
CREATE PROCEDURE dbo.GetCruiseDetailsProc
  @CruiseID int = NULL
AS
SELECT
   p.PositionID
  ,p.ReportedAt
  ,p.Latitude
  ,p.Longitude
  ,p.CruiseID
  ,p.CruiseName
  ,p.CruiseDescription
  ,p.IsCurrentCruise
  ,p.PlaceID
  ,p.Region
  ,p.Country
  ,p.TimeZoneID
  ,p.GMTOffset
  ,p.DSTOffset
FROM PositionDetails as p
WHERE @CruiseID IS NULL 
   OR @CruiseID = p.CruiseID;
GO
EXEC dbo.GetCruiseDetailsProc @CruiseID=1;
EXEC dbo.GetCruiseDetailsProc @CruiseID=2;
EXEC dbo.GetCruiseDetailsProc;