<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILatLonUtilitiesService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1767/LatLonUtilitiesService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILatLonUtilitiesService"
                contract="LatLonWcf.ILatLonUtilitiesService" name="BasicHttpBinding_ILatLonUtilitiesService" />
        </client>
    </system.serviceModel>
</configuration>